In [ ]:
x = input("please enter your old:")
print(x)

please enter your old:25

In [8]:
x = 6
y = 976.045
z = 1j
print(x)
print(y)
print(z)

6
976.045
1j

In [11]:
x = 567
y = 97.764
z = 3j
type(x, y, z)

TypeError: ignored

In [31]:
dict = {"name":"alita","old":2,"country":"taiwan"}
print(dict)

{'name': 'alita', 'old': 2, 'country': 'taiwan'}

In [34]:
mylist =["book","pen","money",986]
print(mylist)
type(mylist)

['book', 'pen', 'money', 986]

list

In [36]:
mytuple = ("cat","dog","fish")
print(mytuple)
type(mytuple)

('cat', 'dog', 'fish')

tuple

In [47]:
mytuple = "cat","dog","fish"
print(mytuple)
a, b, c = mytuple
print(a)
print(b)
print(c)
type(mytuple)

('cat', 'dog', 'fish')
cat
dog
fish

tuple

In [49]:
x = int(214.76)
y = float(234)
print(x)
print(y)

214
234.0

In [50]:
x = "hello, this is 4110e115 Pan Huang Ru from Kunshan university
nice to meet you guy"
print(x)

SyntaxError: ignored

In [51]:
x = '''hello, this is 4110e115 Pan Huang Ru from Kunshan university
nice to meet you guy'''
print(x)

hello, this is 4110e115 Pan Huang Ru from Kunshan university
nice to meet you guy

In [61]:
x = "Pan Huang Ru"
print(x[0:12])
print(x[-12:-1])
print(x[-12:])
print(x[-8:-4])

Pan Huang Ru
Pan Huang R
Pan Huang Ru
Huan

In [66]:
x = "pan huang ru"
print(x.upper())
y = "PAN HUANG RU"
print(y.lower())

PAN HUANG RU
pan huang ru

In [73]:
x = "   Pan Huang Ru   "
y = "   Pan Huang Ru    "
print(x.strip())
print(y)

Pan Huang Ru
   Pan Huang Ru

In [80]:
x = "Pan"
y = "Huang"
z = "ru"
print(x+y+z)
print(x+" "+y+" "+z)

PanHuangru
Pan Huang ru

In [88]:
x = int(input("enter your old:"))
if x > 25:
 print("older")
elif x == 25:
 print("equal")
else:
 print("younger")

enter your old:25
equal

In [92]:
x = "beautiful\n"
n = 6
print(x*n)

beautiful
beautiful
beautiful
beautiful
beautiful
beautiful

In [94]:
x = 8
y = 3
print(x/y)
print(x//y)

2.6666666666666665
2

In [98]:
x = 8
y = 3
print(x/y)
print(x%y)
print(x+y)
print(x*y)
print(x-y)

2.6666666666666665
2
11
24
5

In [119]:
mylist = ["house","car","money"]
for x in mylist:
 print(x)
for y in "money":
 print(y)

house
car
money
m
o
n
e
y

In [132]:
mylist = ["house","car","money"]
for x in mylist:
  print(x)
  if x == "car":
    break

house
car

In [136]:
mylist = ["house","car","money"]
for x in mylist:
  print(x)
  if x == "house":
    continue

house
car
money

In [145]:
for x in range(2, 10, 1):
  print(x)
for y in range(2, 10, 2):
  print(y)

2
3
4
5
6
7
8
9
2
4
6
8

In [146]:
for x in range(3):
  print(x)
else:
  print("donedone")

0
1
2
donedone

In [154]:
x = 1
while x < 5:
  print(x)
  x += 1

1
2
3
4